<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Welcome to your Web site.</h1>
    <p> Go to any page</p>
    <p> Test page is the page where we present Goya informations. See <a href="/test"> Test page </a></p>
    <p><a href="/about"> About page </a></p>

  </body>
</html>